body {
    background-color: #03045e; 
    color: #e2eafc;            
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.menu {
    display: flex;
    justify-content: space-between; 
    background-color: #023e8a;
    border: 1px solid #0077b6;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 30px;
}
.menu .links a {
    color: #90e0ef;
    text-decoration: none; 
    margin-left: 15px;     
}
h1 {
    color: #ffffff;
}
.lista {    
    display: flex;
    flex-direction: flex-end; 
    /* align-content: flex-end; (por algum motivo não está funcionando*/
    gap: 15px;              
}
.card {
    display: flex;          
    align-items: center;    
    background-color: #023e8a;
    border: 1px solid #0077b6;
    border-radius: 4px;              
    padding: 15px;
    width: 100%;
    max-width: 600px;
    cursor: pointer;      
    transition: 0.3s;
}
.card .foto {
    width: 50px;
    height: 50px;
    background-color: #03045e;
    border: 1px solid #0077b6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 15px;     
}
.card .texto h3 {
    margin: 0 0 5px 0;      
    color: #ffffff;
}
.card .texto p {
    margin: 0;
    color: #caf0f8;
}
.card:hover{
    transform: translateY(-8px);
       border-color: rgba(34,211,238,0.35);
       box-shadow: 0 15px 40px rgba(34, 211, 238, 0.349);
}